<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Avoid redirecting index.php requests to index.php (prevents infinite loop)
    RewriteCond %{REQUEST_URI} !^/index.php$

    # If the request is not for a real file or directory, redirect to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
